
k8s建立pod成功

![測試流程示意圖](../img/getpods.jpg)